{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Icebox Online ! </h1>
    <p>Ici, tu pourras bientôt voir tes produits et leurs dates de péremption.</p>
    <a href="#">Ajouter un produit au frigo</a>
{% endblock %}
